#video {
    min-width: 100%;
    min-height: 100%;
    width: 1920;
    height: auto;

}

.navbar-collapse {
    font-size: 16px;
    font-weight: 700;
}
h1 {
    position: absolute;
    top: 25%;
    left: 25%;
    color: white;
    font-family: 'PT Sans', sans-serif;
}
h2 {
    font-family: 'PT Sans', sans-serif;
    position: relative;
    left: -60px;


}
span {
    position: absolute;
    top: 24%;
    left: 28%;
    color: white;
    font-family: 'PT Sans', sans-serif;
}
#globusicon {
    position: relative;
    top: 75px;
    left: -45px;
    }

.missionpargh {
    margin-left: 30px;
}
.ourmiss {
    position: relative;
    left: -60px;
}

a {
    color: #222222;
}